
#mensaje
{
 width: 74.2%;
} 

#chat
{
 background-color: #9FCC47;
 color : #fff;
 border-color: #9FCC47;
}

.pantalla
{
 height:200px; 
 border: 1px solid #CCCCCC; 
 padding: 12px;  
 border-radius: 5px; 
 overflow-x: hidden;
}