
#mensaje
{
 width: 74.2%;
} 

#chat
{
 background-color:#FFFFFF;
 color : #000000;
 font-weight:bold;

}

.pantalla
{
 height:200px; 
 border: 1px solid #CCCCCC; 
 padding: 12px;  
 border-radius: 5px; 
 overflow-x: hidden;
}

#centrado
{ 
  margin-left:37%;
}

