
body{
  background:#C2CAD6 !important;

}

.panel{
  margin:0 !important;
  margin-bottom: 10px !important;
}
/*.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
}*/
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 10px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/*textarea comentarios*/

.widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
}
.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 54%;
}
.status-upload form {
  float: left;
  width: 100%;
}
.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  -ms-border-radius: 4px 4px 0 0 !important;
  -o-border-radius: 4px 4px 0 0 !important;
  border-radius: 4px 4px 0 0 !important;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #F2F2F2;
}

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}
.status-upload ul > li {
  float: left;
}
.status-upload ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}

@media screen and (max-width: 1600px) {
.contenedor-espaciado{
  margin-bottom: 30px;
  width:100%;
  margin-left: 2px;
  }
}

@media screen and (max-width: 800px) {
.contenedor-espaciado{
  margin-bottom: 10px;
  width:70%;
  }
}


@media screen and (max-width: 700px) {
.contenedor-espaciado{
  margin-bottom: 10px;
  width:80%;
  }
}

@media screen and (max-width: 500px) {
.contenedor-espaciado{
  margin-bottom: 10px;
  width:80%;
  }
}






.btn-comment{
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #7f7f7f;
  font-weight: bold;
  background-color:#eee;
}

.btn-like-link {
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #46FF1A;
  color: #46FF1A;
  cursor: pointer;
}

.btn-comment-open{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.input-group{
 
  
}

.edicion{
  padding-right: 5px;
  padding-left: 10px;
  width: 100%;
  text-align: right;
  height: 30px !important;
  position: absolute;
  z-index: 1;
  right: 22px;
  top: 25px;
}

.btn-edit-post{
  border-color: #cccccc #c5c6c8 #b6b7b9;
  border-radius: 3px;
  color:#00FF00;
  vertical-align:center !important;
  font-size: 20px;
  font-weight:bolder;
  background-color:transparent;
  line-height: 20px;
}

.dropdown-menu{
  margin-left: 68%;
  
}

.edit-details-textarea{
  width: 100%;
  text-align: inherit;
  outline: none;
  resize: none;
  border:none;
}

.div-btns-comment{
  height:44px;
  background-color: rgb(246,247,249);
  padding-top: 5px;
  border-top: 1px solid;
  border-top-color: rgb(231,232,234);
    
}

.btn-cancel-comment{
  float: right;
  margin-right: 3px;
  font-weight: bold;
}

.btn-ed-fin{
  float: right;
  margin-right: 3px;
  font-weight: bold;
}

.div-ed-comment{
  border: 1px solid;
  border-color: rgb(186,186,194);
  height: auto;
}

.editresp{
    float: right;
    padding-right:3%;
    padding-bottom: 3%;
}
.editresp-menu{
  position:relative;
  
}
.description-respuesta{
  width:90%;
  height: auto;
  display: inherit;
  text-align: left;
  word-break: break-all
}


.display-block{
  display: block;
}

.modal .fade{
  width: 0 !important;
  height: 0 !important;
  
}

.espacio-paneles{
  margin-bottom: 10px;
}
