
body{
    color:#000000;
}
#content_perfil{
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    padding-left:15%;
    padding-right:15%;
    background-color: #e5e5e5;
    height: auto;
    
    
}


#perfil{
    min-height:800px;
    border-style: solid;
    border-width:1px;
    border-color:grey;
    background-color: white;
    margin-top:10px;
    margin-bottom:0;
}


.size_1{
    font-size: 14,5px;
}
.size_2{
    font-size: 2em;
}
.size_3{
    font-size: 18px;
    color:black;
}
.size_4{
    font-size: 4em;
}
.size_5{
    font-size: 5em;
}

#pop_up_form{
    display:hidden;

}
.navbar-wrapper{

    margin-bottom:30px;
}
#p_datos{
    float:left;
    width:20%;
    display: block;

}
#imagen_perfil{
    width:30%;
    background-color: #404040;
}

.img1{
    margin: 3px;
    width:320px;
    height:320px;
    border-style: solid;
    border-color: #787878 ;
    border-width: 8px;
}
.img2{
    margin: 3px;
    width:320px;
    height:320px;
    border-style: solid;
    border-color: #787878 ;
    border-width: 8px;
}

.img3{
    margin: 3px;
    width:320px;
    height:320px;
    border-style: solid;
    border-color: #787878 ;
    border-width: 8px;
}

.img4{
    margin: 3px;
    width:320px;
    height:320px;
    border-style: solid;
    border-color: #787878 ;
    border-width: 8px;
}
.img5{
    margin: 3px;
    width:320px;
    height:320px;
    border-style: solid;
    border-color: #787878 ;
    border-width: 8px;
}
.img6{
    margin: 3px;
    width:320px;
    height:320px;
    border-style: solid;
    border-color: #787878 ;
    border-width: 8px;
}

.profile_img:hover{

}

#seccion_imagenes{
    margin-top:1px;
	min-height:800px;
	overflow:hidden;
}
.imagenes{
    float:left;
    padding-right:15px;
    padding-bottom:10px;
    padding-top:20px;
	text-align:right;
}
.img_p{
    width:40%;
    border:0.2;
    border-style:solid;
    border-color:
}

.italic{
    font-style:italic;
}
.text_left{
    text-align:left;
}
.text_right{
    text-align:right;
}

@media only screen and (max-width: 500px) {
    #content_perfil{
        padding-left:5%;
        padding-right:5%;
    }
    #imagen_perfil{
        float:left;
    }
    .img_p{
        width:60%;
    }
    .btn_pfl{
        width:60%;
    }

}

hr.fancy-line {
    border: 0;
    height: 2px;
    background-color:#80E680;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: #f4f4f4;
}
#separador{
    padding-top:2%;
    padding-left:12.5%;
    padding-right:12.5%;
}
#seccion_botones{
    padding-top:2%;
    padding-left:12.4%;
    padding-right:12.5%;
	margin-top:10%;
}
#respuesta_ajax{
    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
    background-color: white;
    float: left;
    margin-top: 1px;
    margin-bottom: 10px;
}
#loadingImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.td{
    width:100%;
    height:40px;
    /*	border-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#CECEBF;*/
    text-align:left;
    vertical-align:middle;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;

}
.td_info{
    width:100%;
    height:40px;
    text-align:left;
    vertical-align:middle;
    padding-top:24px;
    padding-left:125px;
    padding-right:10px;
}


#info_table{
    padding-top:20px;
    margin-top: 1   50px;
}
#descripcion:hover{
    background-color:#E6E6E6;
}
.bold {
    font-weight:bold;
}
.editar_datos{
    padding-top:20px;
}

.light_green{
    color:#5CE62E;
}
.grey_color{
    color:#afb2b5;
}
#descripcion_inpt{
width:100%;
height:80%;
resize:none;
}

.upload_div{
    width:320px;
    height:320px;
}


.osvaldito{
	position: relative;
	width:auto;
	width: 320px;
	height: 320px;
	float:left;
}

#menu_opciones{
    float:left;
    border-style: solid;
    border-width:1px;
    border-color:blue;
    display: block;
    width: 100%;
    height: 35px;
    
}

#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: transparent !important;
}
#navcontainer ul li
{
    cursor: pointer;
    display: inline;
    padding-left:5px;
    padding-right:5px;

}
#navcontainer ul li a
{
  text-decoration: none;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
}

#navcontainer ul li a:hover{
    
        border-bottom: 2px solid transparent;
        border-bottom-color: blue;
}


.carousel_min {
  height: 150px;
  margin-bottom: 10px;
}

#marquesina{
    float: left;
    background-color: red;
    width: 55%;
    height: 200px;
}

#perfil_img_des{
    float: left;
    height: 100px;
    
}

.oculto{
    display:none;
}


/***** SHOW IMAGE ****/ 

/*div.profile_img:hover{
	opacity:0.5;
	
}*/
div.profile_img input{
    position:absolute;
    display:none;
}
div.profile_img:hover input{
	display:block;
/*  position:absolute;*/
  margin-bottom: 130px;
  margin-left: 120px;
  float: left;
}


div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover button {
    display: block;
}
div.show-image button {
    position:absolute;
    display:none;
}

div.show-image:hover a {
    display: block;
}
div.show-image a {
    position:absolute;
    display:none;
}

div.show-image a.ver {
    top:82%;
    left:62%;
  
}
div.show-image button.delete {
    top:82%;
    left:80%;
}

.left{
	float:left;
}
.right{
	float:right;
}
